@model UserDeviceEditModel
@{
    bool hasUser = !string.IsNullOrEmpty(Model.UserId);
    bool isAdmin = User.IsInRole("admin");
}
<h2 class="mb-3">Cihaz Düzenleme</h2>

<form id="editDeviceForm" asp-controller="Device" asp-action="EditDevice" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" name="DeviceId" id="DeviceId" value="@Model.DeviceId">

    <div class="form-group row mb-3">
        <label asp-for="DeviceName" class="col-sm-2 fw-bold col-form-label">Cihaz Adı</label>
        <div class="col-sm-10">
            @if (isAdmin)
            {
                <input class="form-control" asp-for="DeviceName">
            }
            else
            {
                <input class="form-control" asp-for="DeviceName" disabled>
            }
           
           
            <span asp-validation-for="DeviceName" class="text-danger"></span>
        </div>
    </div>
   
    @if (isAdmin)
    {
        <button type="button" id="updateDeviceButton" class="btn btn-primary">Cihazı Güncelle</button>
    }
    else
    {
        <button type="button" id="updateDeviceButton" class="btn btn-primary" disabled>Cihazı Güncelle</button>
    }
    <div class="form-group row mb-3">
        <label asp-for="Email" class="col-sm-2 fw-bold col-form-label">Email:</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-sm-2">
            <button id="buttonUpdateUser" type="button" class="btn btn-primary">Kullanıcıyı Güncelle</button>
        </div>
        <div class="col-sm-2">
            <button id="buttonDeleteUser" type="button" class="btn btn-danger">Kullanıcıyı Kaldır</button>
        </div>
    </div>

    @if (hasUser)
    {
        <div class="row">
            <input type="hidden" name="UserDeviceId" id="UserDeviceId" value="@Model.UserDeviceId">
            <div class="mb-3 col-sm-2">
                <label for="FirstName" class="form-label fw-bold">İsim:</label>
                <input type="text" id="FirstName" class="form-control" value="@Model.FirstName" disabled>
            </div>
            <div class="mb-3 col-sm-2">
                <label for="LastName" class="form-label fw-bold">Soy İsim:</label>
                <input type="text" id="LastName" class="form-control" value="@Model.LastName" disabled>
            </div>
            <div class="mb-3 col-sm-2">
                <label for="UserName" class="form-label fw-bold">Kullanıcı Adı:</label>
                <input type="text" id="UserName" class="form-control" value="@Model.UserName" disabled>
            </div>
            <div class="mb-3 col-sm-2">
                <label for="Role" class="form-label fw-bold">Rol:</label>
                <input type="text" id="Role" class="form-control" value="@Model.Role" disabled>
            </div>
        </div>
    }
    else
    {
        <h3 class="mb-3">Bu cihazın bir kullanıcısı yoktur</h3>
    }
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $(document).ready(function () {
        $("#updateDeviceButton").click(function () {
            var formData = $("#editDeviceForm").serialize(); // Serialize the form data
            var deviceId = $("#DeviceId").val(); // Get the device ID
            console.log(formData);
            $.ajax({
                type: "POST",
                url: "/device/editdevice", // URL for your edit device action
                data: formData,
                success: function (result) {
                    if (result.success) {
                        window.location.href = result.redirectUrl; // Redirect on success
                    } else {
                        alert(result.message);
                    }
                },
                error: function (error) {
                    alert("Cihaz güncellenirken bir hata oluştu.");
                }
            });
        });
    });

    document.getElementById("buttonUpdateUser").addEventListener("click", function () {
        var email = document.getElementById("Email").value;
        var deviceId = document.getElementById("DeviceId").value;
        var userDeviceId = document.getElementById("UserDeviceId") ? document.getElementById("UserDeviceId").value : -1;

        $.ajax({
            type: "POST",
            url: "/device/updateuser", 
            data: { email: email, deviceId: deviceId, userDeviceId: userDeviceId },//parameters

            success: function (result) {
                if (result.success) {
                    
                    window.location.href = result.redirectUrl; //redireciton
                } else {
                    alert("Hata:\n" + result.message);
                }
            },
            error: function (error) {
             
                alert("Cihaza ait kullanıcı güncellenirken bir hata oluştu.");
            }
        });
    });


    document.getElementById("buttonDeleteUser").addEventListener("click", function () {

        var deviceId = document.getElementById("DeviceId").value;
        var userDeviceId = document.getElementById("UserDeviceId") ? document.getElementById("UserDeviceId").value : -1;


     
        $.ajax({
            type: "POST",
            url: "/device/deleteuser", 
            data: { deviceId: deviceId, userDeviceId: userDeviceId },//parameters
            success: function (result) {
                if (result.success) {

                    window.location.href = result.redirectUrl; //redireciton
                } else {
                    alert("Hata:\n" + result.message);
                }
            },
            error: function (error) {
 
                alert("Cihaza ait kullanıcı silinirken bir hata oluştu.");
            }
        });
    });

</script>